@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

:root {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: 600;
  --resume-paper-background-color: #faf9f6;
  --resume-blue-color: #6ca0dc;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/* start nav styles */

nav {
  padding: 1vh 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-span {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
}

nav ul {
  list-style: none;
  margin: 0 1rem;
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav ul a,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* end nav styles */

/* start resume styles */

.resume {
    margin: 3em auto 10em;
    /* height: 1056px; */
    height: 1556px;
    width: 816px;
    /* background-color: var(--resume-paper-background-color); */
}

.resume__header {
    height: 10%;
    display: flex;
    flex-direction: column;
}

.header__name-contact {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  margin: 0.3rem 0 0;
}

h2 {
  font-size: 1.35em;
  text-align: center;
  margin: 0.5rem 0 0.3rem 0;
}

.header__info {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0;
  margin: 0.35rem;
}

.header__blurb {
  font-size: 1.1rem;
  white-space: nowrap;
}

.divider {
  padding: 0.06rem;
  width: 97%;
  /* background-color: var(--resume-blue-color); */
  background-color: rgb(186, 186, 186);
  margin: 1em auto;
}

.divider.secondary-divider{
  width: 100%;
  margin: 0.3rem auto 0.5rem;
}

.body__goal-statement {
  width: 90%;
  margin: 0 auto 1.9em;
}

.body__skills-section {
  width: 90%;
  margin: 0.15em auto 1.5em;
  font-size: 1rem;
}

.body__skills-section h3 {
  display: inline-block;
  margin: 0.25rem 0;
  /* color: var(--resume-blue-color); */
}

.body__skills-section ul {
  margin: 0.3rem 0;
  padding: 0;
}

.body__skills-section ul li {
  list-style-position: inside;
  margin: 0.03rem 0;
}

.body__skills-section ul li h3 {
  margin: 0;
}

section {
  width: 90%;
  margin: 0 auto 1.5em;
  font-size: 1rem;
}

section ul {
  list-style-type: none;
  margin: 0.3rem 0 0;
  padding: 0;
}

section .section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

section .section-head span {
  padding: 0.4rem 0;
}

section .section-head h3 {
  display: inline-block;
  margin: 0;
  /* color: var(--resume-blue-color); */
}

section p {
  width: 90%;
  margin: 0;
}

.section-ul-li {
  margin: 0 0 0.3em;
}

/* this is only for pdf printing purposes (page break) */
.experience-entry-extra-space {
  margin-top: 1.8em;
}

.experience__description-list {
  list-style-type: disc;
}

.experience__description-list li {
  /* list-style-position: inside; */
  margin-left: 2.15%;
  
}

.experience__description-list li span {
  /* position: relative; */
  left: -0.5rem;
}

